body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    background-image: url('img/fundo.jpg');
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.menu-container {
    width: 100%;
    max-width: 600px; /* Aumente a largura máxima */
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.menu-box {
    text-align: center;
}

.logo {
    width: 400px;
    margin-bottom: 15px;
}

.menu-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    width: 48%; /* Ajuste a largura dos grupos de formulário */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #555;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #444;
    color: #fff;
}

.menu-btn {
    width: 100%;
    padding: 14px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #c0392b;
}