body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.menu-container {
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    position: relative;
}

.menu-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.menu-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    width: 48%; /* Divisão em duas colunas */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3); /* Borda preta semi-transparente */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #F5DEB3; /* Tom de bege */
    color: #000;
    height: 50px;
}

.fazer-pedido-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fazer-pedido-btn {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 36px;
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}

.fazer-pedido-btn span {
    font-size: 36px;
    font-weight: bold;
}

.fazer-pedido-btn:hover {
    color: #c0392b;
}

/* Estilo do botão Voltar */
.voltar-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 36px;
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}

.voltar-btn span {
    font-size: 36px;
    font-weight: bold;
}

.voltar-btn:hover {
    color: #c0392b;
}
